body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    background: linear-gradient(to right, #3498db, #1abc9c);
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.menu-item {
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.square {
    background: linear-gradient(to right, #3498db, #1abc9c);
    border-radius: 5px;
}

.circle {
    background: radial-gradient(circle, #3498db, #1abc9c);
    border-radius: 50%;
}

.content {
    margin-top: 80px;
    /* Adjust this value based on your header's height */
    padding: 20px;
}